<?xml version="1.0" encoding="UTF-8"?>

<mapper namespace="GoodsMapper">
	<select id="selectAll" resultType="com.yht.ssm.model.Goods">
   		 SELECT * FROM goodslist
  	</select>
  	<select id="selectById" parameterType="int" resultType="com.yht.ssm.model.Goods">
    	SELECT * FROM goodslist where id=#{id}
  	</select>
  	<insert id="insertGoods" parameterType="com.yht.ssm.model.Goods">
    	insert into goodslist(id,name,type,price,amount)
    	values(#{id},#{name},#{type},#{price},#{number})
  	</insert>
  	<update id="updateGoods" parameterType="com.yht.ssm.model.Goods">
  	 	update goodslist set id=#{id},
   		name=#{name},
   		type=#{type},
   		price=#{price},
   		amount=#{amount}
   		where id=#{id}
  	</update>
  	<delete id="deleteGoods" parameterType="int">
  		delete from goodslist where goods_id=#{goods_id}
  	</delete>

</mapper>